<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
	 <connectionStrings>
   
    <add name="ConnectionString" connectionString="Data Source=92.204.4.195; Initial Catalog=VisitorAanagement; User ID=VisitorVisitorAanagementAdmin;Password=admin@@123;" providerName="System.Data.SqlClient" />
    <add name="VisitorManagementSystemEntities" connectionString="metadata=res://*/Data.OrthoSquare.csdl|res://*/Data.OrthoSquare.ssdl|res://*/Data.OrthoSquare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.204.4.195;initial catalog=VisitorAanagement;persist security info=True;user id=VisitorVisitorAanagementAdmin;password=admin@@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
  </connectionStrings>
  

	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None" />
				</binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service name="BookAppointment.BookAppointment" behaviorConfiguration="ServiceBehaviour">
				<host>
					<baseAddresses>
						<add baseAddress="https://localhost:44303/BookAppointment.svc/" />
					</baseAddresses>
				</host>

				<endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="BookAppointment.IBookAppointment"></endpoint>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<add relativeAddress="BookAppointment.svc" service="BookAppointment.BookAppointment" />
			</serviceActivations>
		</serviceHostingEnvironment>
	</system.serviceModel>
  
</configuration>